<<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:600px; background:#001a26;">
      <tr>
        <td colspan="3"><a href="http://www.suareforma.com.br"><img src="http://www.suareforma.com.br/mail/topo.jpg" alt="" style="display:block; border:0px;" /></a></td>
      </tr>
      <tr>
        <td width="27"></td>
        <td>
          <span style="color:#d2c927; font-family:Arial; font-weight:bold; font-size:21px;">Seja bem vindo ao maior portal de reformas do Brasil.</span>
          <img src="http://www.suareforma.com.br/mail/barra-topo.jpg" alt="" style="border:0px; display:block" />
          <span style="color:#fff; font-family:Arial; font-size:14px;">
            Olá, <%= @usuario %>
            <br/><br/>
            Em breve enviaremos seus dados para começar a receber os nossos orçamentos.
            <br/><br/>
            Será um prazer ter você trabalhando ao nosso lado.
            <br/><br/>
            Para qualquer duvida ou reclamação entre em contato pelo e-mail
            <br/>
            <strong>contato@suareforma.com.br</strong>
          </span>
          <img src="http://www.suareforma.com.br/mail/barra-baixo.jpg" alt="" style="border:0px; display:block" />
        </td>
        <td width="27"></td>
      </tr>
    </table>
  </body>
</html>
