<%= content_for :title do %> Saiba mais - Sua Reforma <% end %>

<%= content_for :metatags do %>
    <meta name=”description” content="Faça orçamento para sua reforma ou construção no maior portal de reformas do Brasil." />
    <meta name="keywords" content="reforma construção pintura acabamento construir alvenaria eletricidade gesso serralheria vidracaria hidraulica paisagismo reformar construir" />
<% end %>

            <!-- HEADER -->
            <div id="header">
                <div class="wrapper">
                    <div id="logo">
					<h1><%= link_to image_tag("logo.png", :alt => "Sua Reforma"), "/", :title => "Sua Reforma" %></h1>
                    </div>
                </div>
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div id="content" class="saibaMais">
                <div id="contentLeft">
                    <div id="oMaior">
                        <p>Seja bem vindo ao Sua Reforma.</p>

					<p>Estamos dando início ao maior portal de solicitações de orçamentos para reformas e construções.</p>

					<p>Nesta primeira etapa, vamos cadastrar fornecedores de alta qualidade para atender a demanda de orçamentos de nossos clientes.</p>

					<p>Tudo simples e fácil.</p>

					<p>Você fornecedor, faça seu cadastro <a href="/cadastre-se">clicando aqui</a> e em breve entraremos em contato. Se tiver parceiros que trabalhem na área com a mesma qualidade e competência, peça para eles entrarem em contato pelo e-mail <a href="mailto:contato@suareforma.com.br">contato@suareforma.com.br</a>.</p>

					<p>E você cliente, aguarde pois em breve sua dor de cabeça com reformas irá acabar. Então já comece a pensar em como vai ficar aquela parede precisando de uma pintura ou no banheiro novo, todo reformado.</p>

					<p>Em breve o suareforma.com.br entrará no ar.</p>

					<p>Para maiores informações ou dúvidas, entre em contato com a gente:<br/>
					<a href="mailto:contato@suareforma.com.br">contato@suareforma.com.br</a></p>

					<p>Ou com nosso departamento comercial:<br/>
					<a href="mailto:henrique@suareforma.com.br">henrique@suareforma.com.br</a></p>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->
